<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cliente</h1>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>150</h3>
                    <p>Cliente</p>
                  </div>
                  <div class="icon">
                    <i class="ion-android-image"></i>
                  </div>
                  <a href="habitacion" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>